numpy>=1.17.1
scipy>=1.7.1
scikit-learn>=1.0.2
pandas>=1.3.5
mealpy>=2.5.4
permetrics>=1.3.3
mafese~=0.1.8
plotly>=5.10.0
kaleido >=0.2.1
metacluster==1.2.0
matplotlib~=3.5.2
reflame~=1.0.1
ucimlrepo>=0.0.7
